{% extends "base.html" %}

{% block css %}
    <style>


        #video-container {
            position: relative;
            height: 100%;
        }

        #video-element {
            width: 100%;
            height: calc(100% - 56px); /* Adjust the height based on your navbar height */
            object-fit: cover;
        }

        #start-button,
        #pause-button {
            margin: 5px;
        }

        .overlay-buttons {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
        }

        video {
            height: 80vh !important;
            object-fit: fill !important;
        }


        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
        }

        .countdown {
            text-align: center;
            font-size: 24px;
            padding: 20px;
            color: #fff;
        }

        /* Add your custom CSS styles here */
        .icon-size {
            /* Adjust the font size to increase or decrease the icon size */
            font-size: 24px;
        }


        /* Add this CSS to hide the container by default and show it when toggled */
        .hidden {
            display: none;
        }

        /* Add this CSS to style the report stats container */
        #report-stats-container {
            position: absolute;
            top: 40px;
            right: 10px;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            z-index: 2;
        }

        #toggle-button {
            position: absolute;
            right: 0px;
            top: 10px;
            z-index: 2;
            color: white;
        }

    </style>
{% endblock %}
{% block content %}
    <div class="overlay" id="countdown-overlay">
        <div class="countdown" id="countdown">Starting in 5 seconds...</div>
    </div>

    {% comment %} The video container{% endcomment %}
    <div id="video-container">
        <video id="video-element" autoplay></video>
        {% comment %} The toggle button {% endcomment %}
        <!-- Toggle button -->
        <button id="toggle-button" class="btn">Show Stats</button>

        <!-- Container for report stats -->
        <div id="report-stats-container" class="hidden" style="z-index: 10 ">
            <!-- Report stats will be displayed here -->
        </div>

        {% comment %} The overlay buttons {% endcomment %}
        <div class="overlay-buttons">
            <button id="start-button" class="btn btn-info"><i class="uil uil-play icon-size"></i></button>
            <button id="pause-button" class="btn btn-primary"><i class="uil uil-pause icon-size"></i></button>
            <button id="stop-button" class="btn btn-danger"><i class="uil uil-stop-circle icon-size"></i></button>
            <button type="button" class="btn btn-primary hidden" data-bs-toggle="modal" id="model-button"
                    data-bs-target="#modal-basic"><i class="uil uil-info icon-size"></i>
            </button>
        </div>
    </div>


    {% comment %} Modal every 30 minutes{% endcomment %}
    <div class="modal-basic modal fade" id="modal-basic" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content modal-bg-white ">
                <div class="modal-header">
                    <h6 class="modal-title">Report Info</h6>
                </div>
                <div class="modal-body">
                    <img src="" alt="" id="pie_chart">

                    <div class="progress-wrap d-flex align-items-center mb-15" id="disgust_count">
                        <div class="progress">
                            <div class="progress-bar bg-secondary" role="progressbar"
                                 style="width: 50%;"
                                 aria-valuenow="50"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="progress-percentage">50%</span>
                    </div>

                    <div class="progress-wrap d-flex align-items-center mb-15" id="angry_count">
                        <div class="progress">
                            <div class="progress-bar bg-secondary" role="progressbar"
                                 style="width: 50%;"
                                 aria-valuenow="50"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="progress-percentage">50%</span>
                    </div>

                    <div class="progress-wrap d-flex align-items-center mb-15" id="happy_count">
                        <div class="progress">
                            <div class="progress-bar bg-secondary" role="progressbar"
                                 style="width: 50%;"
                                 aria-valuenow="50"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="progress-percentage">50%</span>
                    </div>

                    <div class="progress-wrap d-flex align-items-center mb-15" id="fear_count">
                        <div class="progress">
                            <div class="progress-bar bg-secondary" role="progressbar"
                                 style="width: 50%;"
                                 aria-valuenow="50"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="progress-percentage">50%</span>
                    </div>

                    <div class="progress-wrap d-flex align-items-center mb-15" id="sad_count">
                        <div class="progress">
                            <div class="progress-bar bg-secondary" role="progressbar"
                                 style="width: 50%;"
                                 aria-valuenow="50"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="progress-percentage">50%</span>
                    </div>

                    <div class="progress-wrap d-flex align-items-center mb-15" id="surprise_count">
                        <div class="progress">
                            <div class="progress-bar bg-secondary" role="progressbar"
                                 style="width: 50%;"
                                 aria-valuenow="50"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="progress-percentage">50%</span>
                    </div>

                    <div class="progress-wrap d-flex align-items-center mb-15" id="neutral_count">
                        <div class="progress">
                            <div class="progress-bar bg-secondary" role="progressbar"
                                 style="width: 50%;"
                                 aria-valuenow="50"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="progress-percentage">50%</span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
{% endblock %}


{% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var sidebarToggle = document.querySelector(".sidebar-toggle");
            sidebarToggle.click(); // Simulate a click on the sidebar toggle
            // click the start button
            var startButton = document.querySelector("#start-button");
            startButton.click()
        });
    </script>
    {% comment %} CSRF token{% endcomment %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>

    {% comment %} Count Down timer{% endcomment %}
    <script>
        // Function to start the countdown timer
        function startCountdown() {
            let count = 5; // Set the initial count (in seconds)
            const countdownElement = document.getElementById("countdown");
            const countdownOverlay = document.getElementById("countdown-overlay");

            // Update the countdown display every second
            const timer = setInterval(function () {
                countdownElement.textContent = `Starting in ${count} seconds...`;

                // Decrement the count
                count--;

                // When the count reaches 0, stop the timer and remove the countdown overlay
                if (count < 0) {
                    clearInterval(timer);
                    countdownOverlay.style.display = "none";
                    // Add any other actions you want to perform after the countdown is over
                }
            }, 1000); // 1000 milliseconds = 1 second
        }

        // Call the startCountdown function when the page loads
        document.addEventListener("DOMContentLoaded", startCountdown);


    </script>
    {% comment %} Video Script pause and play{% endcomment %}
    <script>


        var videoElement = document.getElementById("video-element");
        var startButton = document.getElementById("start-button");
        var pauseButton = document.getElementById("pause-button");
        var stream;

        // Start the video stream when the start button is clicked
        startButton.addEventListener("click", function () {
            // Request permission to access the camera
            navigator.mediaDevices.getUserMedia({video: true})
                .then(function (mediaStream) {
                    stream = mediaStream;
                    videoElement.srcObject = mediaStream;
                })
                .catch(function (error) {
                    console.log("Error accessing camera:", error);
                });
        });

        // Stop the video stream when the stop button is clicked
        pauseButton.addEventListener("click", function () {
            if (stream) {
                var tracks = stream.getTracks();
                tracks.forEach(function (track) {
                    track.stop();
                });
                videoElement.srcObject = null;
            }
        });

        // Send the video stream to the server
        // Send the video stream to the server
        videoElement.addEventListener("play", function () {
            var canvas = document.createElement("canvas");
            var context = canvas.getContext("2d");

            // Set the initial size of the canvas to match the video element's dimensions
            canvas.width = videoElement.offsetWidth;
            canvas.height = videoElement.offsetHeight;

            function sendVideoFrame() {
                if (videoElement.paused || videoElement.ended) {
                    return;
                }

                // Resize the canvas to match the video element's dimensions
                if (canvas.width !== videoElement.offsetWidth || canvas.height !== videoElement.offsetHeight) {
                    canvas.width = videoElement.offsetWidth;
                    canvas.height = videoElement.offsetHeight;
                }

                context.drawImage(videoElement, 0, 0, canvas.width, canvas.height);
                var frame = canvas.toDataURL("image/jpeg");

                // Send the frame data to the server using an AJAX request
                // Replace "your-server-url" with the actual URL to the server endpoint
                fetch("{% url "process_video_frame" id %}", {
                    method: "POST",
                    headers: {"Content-Type": "application/json", 'X-CSRFToken': csrftoken},
                    body: JSON.stringify({frame: frame})
                })
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (data) {
                        // Process the server's response if needed
                        console.log(data);
                    })
                    .catch(function (error) {
                        console.log("Error sending video frame:", error);
                    });
            }

            // Call the sendVideoFrame() function immediately to send the first frame
            sendVideoFrame();

            // Set the interval to call the sendVideoFrame() function every 10 seconds
            // this is 10 seconds --> 10000
            setInterval(sendVideoFrame, 10000);
        });

    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const toggleButton = document.getElementById('toggle-button');
            const reportStatsContainer = document.getElementById('report-stats-container');
            let statsVisible = false;

            toggleButton.addEventListener('click', function () {
                console.log("CLicked")
                if (!statsVisible) {
                    // Fetch the report stats from your backend
                    // Replace with your backend endpoint
                    fetch('{% url "report_stat"  id %}')
                        .then(response => response.json())
                        .then(data => {
                            console.log("data", data)
                            // Create the report stats content
                            let content = '';
                            for (const [key, value] of Object.entries(data)) {
                                content += `<p>${key}: ${value}%</p>`;
                            }
                            reportStatsContainer.innerHTML = content;
                            console.log(reportStatsContainer.innerHTML);
                            reportStatsContainer.classList.remove('hidden');
                            statsVisible = true;
                        })
                        .catch(error => {
                            console.error('Error fetching report stats:', error);
                            reportStatsContainer.innerHTML = '<p>Error fetching report stats</p>';
                        });

                    reportStatsContainer.classList.remove('hidden');
                    statsVisible = true;
                } else {
                    reportStatsContainer.classList.add('hidden');
                    statsVisible = false;
                }
            });
        });

    </script>
    {% comment %} Every 10 minutes open the model {% endcomment %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const modelButton = document.getElementById('model-button');

            // Function to update the progress bars and percentages
            function updateProgress(data) {
                for (const [key, value] of Object.entries(data)) {
                    const progressBar = document.getElementById(key + '_count').querySelector('.progress-bar');
                    const progressPercentage = document.getElementById(key + '_count').querySelector('.progress-percentage');

                    progressBar.style.width = value + '%';
                    progressPercentage.innerText = value + '%';
                }
            }

            // Function to fetch data from the backend
            function fetchData() {
                fetch('{% url "report_automated"  id %}')
                    .then(response => response.json())
                    .then(data => {
                        // Open the model
                        console.log("The data", data)
                        // Update the progress bars and percentages with the fetched data
                        updateProgress(data);

                        // Update the pie chart image
                        const pieChartImg = document.getElementById('pie_chart');
                        pieChartImg.src = data.pie_chart;
                        // add the image to the chart

                        modelButton.click()
                        // Process the fetched data here
                        console.log(data);

                    })
                    .catch(error => {
                        console.error('Error fetching data:', error);
                    });
            }

            // Fetch data initially when the page loads
            fetchData();

            // Set up repeating timer to fetch data every 10 minutes (600,000 milliseconds) 600000
            // setInterval(fetchData, 600000);
        });

    </script>
{% endblock %}

