{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <img src="{{ report.chartImageURL }}" alt=""
                     style="box-shadow: #c2ffd5;border: 10px;height: 80vh;object-fit: fill;min-width: 60vw;">
            </div>
        </div>
        <hr class="mt-5" style="background-color: grey; ">
        <div class="h1 d-flex justify-content-center align-items-center mb-4 ">Dominant Emotions</div>
        <div class="row">
            {% if report.most_annoyed_image %}
                <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
                    <div class="feature-cards feature-card--1">
                        <figure class="feather-cards__figure">
                            <img src="{{ report.most_annoyed_image.url }}" alt="">
                            <figcaption>
                                <div class="feature-cards__top">
                                    <span>{{ report.most_annoyed_time }} </span>
                                </div>

                            </figcaption>
                        </figure>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ report.most_annoyed_score }}%;"
                                     aria-valuenow="{{ report.most_annoyed_score }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">{{ report.most_annoyed_score }}%</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if report.most_disgust_image %}
                <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
                    <div class="feature-cards feature-card--1">
                        <figure class="feather-cards__figure">
                            <img src="{{ report.most_disgust_image.url }}" alt="">
                            <figcaption>
                                <div class="feature-cards__top">
                                    <span>{{ report.most_disgust_time }} </span>
                                </div>

                            </figcaption>
                        </figure>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ report.most_disgust_score }}%;"
                                     aria-valuenow="{{ report.most_disgust_score }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">{{ report.most_disgust_score }}%</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if report.most_happy_image %}
                <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
                    <div class="feature-cards feature-card--1">
                        <figure class="feather-cards__figure">
                            <img src="{{ report.most_happy_image.url }}" alt="">
                            <figcaption>
                                <div class="feature-cards__top">
                                    <span>{{ report.most_happy_time }} </span>
                                </div>

                            </figcaption>
                        </figure>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ report.most_happy_score }}%;"
                                     aria-valuenow="{{ report.most_happy_score }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">{{ report.most_happy_score }}%</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if report.most_fear_image %}
                <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
                    <div class="feature-cards feature-card--1">
                        <figure class="feather-cards__figure">
                            <img src="{{ report.most_fear_image.url }}" alt="">
                            <figcaption>
                                <div class="feature-cards__top">
                                    <span>{{ report.most_fear_time }} </span>
                                </div>

                            </figcaption>
                        </figure>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ report.most_fear_score }}%;"
                                     aria-valuenow="{{ report.most_fear_score }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">{{ report.most_fear_score }}%</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if report.most_sad_image %}
                <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
                    <div class="feature-cards feature-card--1">
                        <figure class="feather-cards__figure">
                            <img src="{{ report.most_sad_image.url }}" alt="">
                            <figcaption>
                                <div class="feature-cards__top">
                                    <span>{{ report.most_sad_time }} </span>
                                </div>

                            </figcaption>
                        </figure>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ report.most_sad_score }}%;"
                                     aria-valuenow="{{ report.most_sad_score }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">{{ report.most_sad_score }}%</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if report.most_surprise_image %}
                <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
                    <div class="feature-cards feature-card--1">
                        <figure class="feather-cards__figure">
                            <img src="{{ report.most_surprise_image.url }}" alt="">
                            <figcaption>
                                <div class="feature-cards__top">
                                    <span>{{ report.most_surprise_time }} </span>
                                </div>

                            </figcaption>
                        </figure>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ report.most_surprise_score }}%;"
                                     aria-valuenow="{{ report.most_surprise_score }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">{{ report.most_surprise_score }}%</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if report.most_neutral_image %}
                <div class="col-xxl-3 col-lg-4 col-md-6 mb-25 pb-2">
                    <div class="feature-cards feature-card--1">
                        <figure class="feather-cards__figure">
                            <img src="{{ report.most_neutral_image.url }}" alt="">
                            <figcaption>
                                <div class="feature-cards__top">
                                    <span>{{ report.most_neutral_time }} </span>
                                </div>

                            </figcaption>
                        </figure>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ report.most_neutral_score }}%;"
                                     aria-valuenow="{{ report.most_neutral_score }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">{{ report.most_neutral_score }}%</span>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <hr class="mt-5" style="background-color: grey; ">
        <div class="h1 d-flex justify-content-center align-items-center mb-4 ">Male Dominant Emotions</div>
        <div class="row">
            {% if report.male_most_annoyed_image %}
                <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
                    <div class="feature-cards feature-card--1">
                        <figure class="feather-cards__figure">
                            <img src="{{ report.male_most_annoyed_image.url }}" alt="">
                            <figcaption>
                                <div class="feature-cards__top">
                                    <span>{{ report.male_most_annoyed_time }} </span>
                                </div>

                            </figcaption>
                        </figure>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ report.male_most_annoyed_score }}%;"
                                     aria-valuenow="{{ report.male_most_annoyed_score }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">{{ report.male_most_annoyed_score }}%</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if report.male_most_disgust_image %}
                <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
                    <div class="feature-cards feature-card--1">
                        <figure class="feather-cards__figure">
                            <img src="{{ report.male_most_disgust_image.url }}" alt="">
                            <figcaption>
                                <div class="feature-cards__top">
                                    <span>{{ report.male_most_disgust_time }} </span>
                                </div>

                            </figcaption>
                        </figure>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ report.male_most_disgust_score }}%;"
                                     aria-valuenow="{{ report.male_most_disgust_score }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">{{ report.male_most_disgust_score }}%</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if report.male_most_happy_image %}
                <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
                    <div class="feature-cards feature-card--1">
                        <figure class="feather-cards__figure">
                            <img src="{{ report.male_most_happy_image.url }}" alt="">
                            <figcaption>
                                <div class="feature-cards__top">
                                    <span>{{ report.male_most_happy_time }} </span>
                                </div>

                            </figcaption>
                        </figure>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ report.male_most_happy_score }}%;"
                                     aria-valuenow="{{ report.male_most_happy_score }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">{{ report.male_most_happy_score }}%</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if report.male_most_fear_image %}
                <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
                    <div class="feature-cards feature-card--1">
                        <figure class="feather-cards__figure">
                            <img src="{{ report.male_most_fear_image.url }}" alt="">
                            <figcaption>
                                <div class="feature-cards__top">
                                    <span>{{ report.male_most_fear_time }} </span>
                                </div>

                            </figcaption>
                        </figure>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ report.male_most_fear_score }}%;"
                                     aria-valuenow="{{ report.male_most_fear_score }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">{{ report.male_most_fear_score }}%</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if report.male_most_sad_image %}
                <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
                    <div class="feature-cards feature-card--1">
                        <figure class="feather-cards__figure">
                            <img src="{{ report.male_most_sad_image.url }}" alt="">
                            <figcaption>
                                <div class="feature-cards__top">
                                    <span>{{ report.male_most_sad_time }} </span>
                                </div>

                            </figcaption>
                        </figure>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ report.male_most_sad_score }}%;"
                                     aria-valuenow="{{ report.male_most_sad_score }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">{{ report.male_most_sad_score }}%</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if report.male_most_surprise_image %}
                <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
                    <div class="feature-cards feature-card--1">
                        <figure class="feather-cards__figure">
                            <img src="{{ report.male_most_surprise_image.url }}" alt="">
                            <figcaption>
                                <div class="feature-cards__top">
                                    <span>{{ report.male_most_surprise_time }} </span>
                                </div>

                            </figcaption>
                        </figure>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ report.male_most_surprise_score }}%;"
                                     aria-valuenow="{{ report.male_most_surprise_score }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">{{ report.male_most_surprise_score }}%</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if report.male_most_neutral_image %}
                <div class="col-xxl-3 col-lg-4 col-md-6 mb-25 pb-2">
                    <div class="feature-cards feature-card--1">
                        <figure class="feather-cards__figure">
                            <img src="{{ report.male_most_neutral_image.url }}" alt="">
                            <figcaption>
                                <div class="feature-cards__top">
                                    <span>{{ report.male_most_neutral_time }} </span>
                                </div>

                            </figcaption>
                        </figure>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ report.male_most_neutral_score }}%;"
                                     aria-valuenow="{{ report.male_most_neutral_score }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">{{ report.male_most_neutral_score }}%</span>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <hr class="mt-5" style="background-color: grey; ">
        <div class="h1 d-flex justify-content-center align-items-center mb-4 ">FeMale Dominant Emotions</div>
        <div class="row">
            {% if report.female_most_annoyed_image %}
                <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
                    <div class="feature-cards feature-card--1">
                        <figure class="feather-cards__figure">
                            <img src="{{ report.female_most_annoyed_image.url }}" alt="">
                            <figcaption>
                                <div class="feature-cards__top">
                                    <span>{{ report.female_most_annoyed_time }} </span>
                                </div>

                            </figcaption>
                        </figure>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ report.female_most_annoyed_score }}%;"
                                     aria-valuenow="{{ report.female_most_annoyed_score }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">{{ report.female_most_annoyed_score }}%</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if report.female_most_disgust_image %}
                <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
                    <div class="feature-cards feature-card--1">
                        <figure class="feather-cards__figure">
                            <img src="{{ report.female_most_disgust_image.url }}" alt="">
                            <figcaption>
                                <div class="feature-cards__top">
                                    <span>{{ report.female_most_disgust_time }} </span>
                                </div>

                            </figcaption>
                        </figure>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ report.female_most_disgust_score }}%;"
                                     aria-valuenow="{{ report.female_most_disgust_score }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">{{ report.female_most_disgust_score }}%</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if report.female_most_happy_image %}
                <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
                    <div class="feature-cards feature-card--1">
                        <figure class="feather-cards__figure">
                            <img src="{{ report.female_most_happy_image.url }}" alt="">
                            <figcaption>
                                <div class="feature-cards__top">
                                    <span>{{ report.female_most_happy_time }} </span>
                                </div>

                            </figcaption>
                        </figure>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ report.female_most_happy_score }}%;"
                                     aria-valuenow="{{ report.female_most_happy_score }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">{{ report.female_most_happy_score }}%</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if report.female_most_fear_image %}
                <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
                    <div class="feature-cards feature-card--1">
                        <figure class="feather-cards__figure">
                            <img src="{{ report.female_most_fear_image.url }}" alt="">
                            <figcaption>
                                <div class="feature-cards__top">
                                    <span>{{ report.female_most_fear_time }} </span>
                                </div>

                            </figcaption>
                        </figure>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ report.female_most_fear_score }}%;"
                                     aria-valuenow="{{ report.female_most_fear_score }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">{{ report.female_most_fear_score }}%</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if report.female_most_sad_image %}
                <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
                    <div class="feature-cards feature-card--1">
                        <figure class="feather-cards__figure">
                            <img src="{{ report.female_most_sad_image.url }}" alt="">
                            <figcaption>
                                <div class="feature-cards__top">
                                    <span>{{ report.female_most_sad_time }} </span>
                                </div>

                            </figcaption>
                        </figure>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ report.female_most_sad_score }}%;"
                                     aria-valuenow="{{ report.female_most_sad_score }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">{{ report.female_most_sad_score }}%</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if report.female_most_surprise_image %}
                <div class="col-xxl-3 col-lg-4 col-md-6 mb-25">
                    <div class="feature-cards feature-card--1">
                        <figure class="feather-cards__figure">
                            <img src="{{ report.female_most_surprise_image.url }}" alt="">
                            <figcaption>
                                <div class="feature-cards__top">
                                    <span>{{ report.female_most_surprise_time }} </span>
                                </div>

                            </figcaption>
                        </figure>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ report.female_most_surprise_score }}%;"
                                     aria-valuenow="{{ report.female_most_surprise_score }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">{{ report.female_most_surprise_score }}%</span>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if report.female_most_neutral_image %}
                <div class="col-xxl-3 col-lg-4 col-md-6 mb-25 pb-2">
                    <div class="feature-cards feature-card--1">
                        <figure class="feather-cards__figure">
                            <img src="{{ report.female_most_neutral_image.url }}" alt="">
                            <figcaption>
                                <div class="feature-cards__top">
                                    <span>{{ report.female_most_neutral_time }} </span>
                                </div>

                            </figcaption>
                        </figure>
                        <div class="progress-wrap d-flex align-items-center mb-15">
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar"
                                     style="width: {{ report.female_most_neutral_score }}%;"
                                     aria-valuenow="{{ report.female_most_neutral_score }}"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="progress-percentage">{{ report.female_most_neutral_score }}%</span>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>

{% endblock %}

{% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var sidebarToggle = document.querySelector(".sidebar-toggle");
            sidebarToggle.click(); // Simulate a click on the sidebar toggle
            // click the start button
            var startButton = document.querySelector("#start-button");
            startButton.click()
        });
    </script>
{% endblock %}

